<h2><%= @quiz.question %></h2>

<%= form_for([@quiz.topic, @quiz]) do |f| %>
    <div class="field">
      <%= f.label :good_answer %><br>
      <%= f.check_box :good_answer %>
    </div>
    <div class="field">
      <%= f.label :bad_answer %><br>
      <%= f.check_box :bad_answer %>
    </div>
    <div class="actions">
      <%= f.submit("Yes\"", class: 'btn btn-success') %>
    </div>
<% end %>

<button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
