<ol class="breadcrumb">
  <li><%= link_to "Quizzy", root_path %></li>
  <li><%= link_to @quiz.topic.name, @topic, class: 'active' %></li>
</ol>

<h1 data-url="<%= topic_quiz_path(@quiz.topic, @quiz) %>"><%= @quiz.question %></h1>

<% [:good, :bad].shuffle.each do |answer| %>
    <button type="button" class="quiz-answer btn btn-default btn-lg btn-block" data-correctness="<%= answer == :good ? 1 : 0 %>"><%= answer == :good ? @quiz.good_answer : @quiz.bad_answer %></button>
<% end %>

<br>

<%= link_to "Next question", topic_quizzes_path(@quiz.topic), class: 'quiz-forward btn btn-default btn-lg btn-block', style: "display:none" %>