<!DOCTYPE html>
<html>
<head>
  <title>Quizzy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body role="document">
    <div class="logo"><%= link_to 'Quizzy', root_path %></div>
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <p id="notice"><%= notice %></p>
            <%= yield %>
          </div>
          <div class="col-md-6 visible-md visible-lg">
            <h2>What is Quizzy?</h2>
            <p>Quizzy is a quiz game. It helps you to became a master in a topic. As you solve quizzes you will be asked to write new ones. So it is a growing knowledge base.</p>
            <h3>The science behind</h3>
            <p>If you are able to correctly answer to a question in 4 following days then you learned it for forever. You successfully saved it into your short-middle-long term memory. Congrat!</p>
            <h2>Top scores</h2>
            <p>...</p>
          </div>
        </div>
    </div>
</body>
</html>
